<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container
    *ngIf="!navigatingAway && (user$ | async) as user; else loading"
  >
    <div *ngIf="isValidUser(user); else signedOut">
      <p i18n>Logged in as: {{$any(user).displayName}}</p>
      <ion-button i18n (click)="signOut()">Log out</ion-button>
      <a i18n routerLink="/home">Go to home page</a>
    </div>
    <ng-template #signedOut>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label i18n position="stacked">Email</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            i18n-placeholder
            placeholder="E-mail address"
            [class.invalid]="!loginForm.controls['email'].valid &&
      loginForm.controls['email'].touched"
          ></ion-input>
        </ion-item>
        <ion-item
          class="error-message"
          *ngIf="!loginForm.controls['email'].valid &&
       loginForm.controls['email'].touched"
        >
          <ion-label i18n>Input your email address</ion-label>
        </ion-item>

        <ion-item>
          <ion-label i18n position="stacked">Password</ion-label>
          <ion-input
            formControlName="password"
            type="password"
            i18n-placeholder
            placeholder="Password"
            [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched"
          ></ion-input>
        </ion-item>
        <ion-item
          class="error-message"
          *ngIf="!loginForm.controls['password'].valid
      && loginForm.controls['password'].touched"
        >
          <ion-label i18n>
            Your password has to be at least 6 characters long
          </ion-label>
        </ion-item>

        <ion-button
          (click)="loginUser(loginForm)"
          expand="block"
          i18n
          [disabled]="!loginForm.valid"
          >Log in
        </ion-button>

        <ion-button (click)="defaultTestUser()" expand="block"
          >default test user
        </ion-button>

        <ion-item *ngIf="error">
          {{error}}
        </ion-item>
      </form>
    </ng-template>
  </ng-container>
  <ng-template i18n #loading>Loading...</ng-template>
  <app-language-picker></app-language-picker>
</ion-content>
