<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container
    *ngIf="!navigatingAway && (user$ | async) as user; else loading"
  >
    <div *ngIf="isValidUser(user); else signedOut">
      <p>Ulogovani ste kao: {{getUserName(user)}}</p>
      <ion-button (click)="signOut()">Izloguj se</ion-button>
      <a routerLink="/field-service">Idi na početnu stranicu</a>
    </div>
    <ng-template #signedOut>
      <form [formGroup]="loginForm">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="E-mail adresa"
            [class.invalid]="!loginForm.controls['email'].valid &&
      loginForm.controls['email'].touched"
          ></ion-input>
        </ion-item>
        <ion-item
          class="error-message"
          *ngIf="!loginForm.controls['email'].valid &&
       loginForm.controls['email'].touched"
        >
          <ion-label>Unesite e-mail adresu.</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Lozinka</ion-label>
          <ion-input
            formControlName="password"
            type="password"
            placeholder="Lozinka"
            [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched"
          ></ion-input>
        </ion-item>
        <ion-item
          class="error-message"
          *ngIf="!loginForm.controls['password'].valid
      && loginForm.controls['password'].touched"
        >
          <ion-label>Lozinka ne može biti kraća od 6 karaktera.</ion-label>
        </ion-item>

        <ion-button
          (click)="loginUser(loginForm)"
          expand="block"
          [disabled]="!loginForm.valid"
        >
          Uloguj se
        </ion-button>

        <ion-item *ngIf="error">
          {{error}}
        </ion-item>
      </form>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    Učitavanje u toku...
  </ng-template>
</ion-content>
