<ion-list>
  <span i18n>Choose app language:</span>
  <ion-item *ngFor="let language of supportedLanguages">
    <ng-container
      [ngTemplateOutlet]="
        languageActive(language.code) ? activeLanguage : nonActiveLanguage
      "
      [ngTemplateOutletContext]="{ language: language }"
    >
    </ng-container>
  </ion-item>
</ion-list>
<ng-template #activeLanguage let-language="language">
  {{ language.name }}
</ng-template>
<ng-template #nonActiveLanguage let-language="language">
  <a href (click)="changeLanguage(language.code)">
    {{ language.name }}
  </a>
</ng-template>
