<ion-menu side="start" content-id="main" type="reveal">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title i18n="@@Menu">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        *ngFor="let menuItem of menu$ | async"
        [routerLink]="menuItem.url"
      >
        <ion-icon [name]="menuItem.icon" slot="start"></ion-icon>
        <ion-label>{{ getText(menuItem) }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
