<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
    <ion-button (click)="testApi()">Request some data</ion-button>
    <p>Status je: {{status$ | async}}</p>
    <p>Data je: {{stringify(data$ | async)}}</p>
    <ion-spinner *ngIf="(status$ | async) == 'created document'"></ion-spinner>
    <p *ngIf="(status$ | async) == 'created document'">
      Idi u nq connector da mu daš response data :)
    </p>
  </div>
</ion-content>
